services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - /disco_1tb/DockerContainer:/disco_1tb/DockerContainer
    environment:
      - DOCKGE_STACKS_DIR=/disco_1tb/DockerContainer
networks: {}
